div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(alt="ZERO" src="./assets/images/logo.png" height=50)

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      //- ul.nav.navbar-nav
      //-   li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
      //-     a(ng-href='{{item.link}}') {{item.title}}

      //-   li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
      //-     a(href='/admin') Admin

      //- ul.nav.navbar-nav.navbar-right.row
        //- li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
        //-   a(href='/signup') Sign up

        //- li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
        //-   a(href='/login') Login

        //- li(ng-show='isLoggedIn()')
        //-   p.navbar-text Hello {{ getCurrentUser().name }}

        //- li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
        //-   a(href='/settings')
        //-     span.glyphicon.glyphicon-cog

        //- li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
        //-   a(href='', ng-click='logout()') Logout
      .container
        .row
          .col-md-4.col-sm-6.pull-right
            form#new-search.navbar-form.navbar-right(role="search")
              .form-group
                .input-group
                  span.input-group-btn
                    button.btn.btn-default(type="submit"
                      ng-click="search.showOptions = !search.showOptions")
                      span.glyphicon.glyphicon-cog
                  input.form-control(id="MRN" name="MRN" type="text"
                    placeholder="{{ 'Search by ' \
                    + searchOptions.type[search.type] + ' for '\
                    + searchOptions.institute[search.institute] }}"
                    ng-focus="search.showOptions = true")
                  span.input-group-btn
                    button.btn.btn-default(type="submit") Go
              .addtional-options(ng-show="search.showOptions")
                h6.text-muted Institute
                label.radio-inline
                  input(type="radio" ng-model="search.institute"
                    name="institute" value="0")
                  span Cornell
                label.radio-inline
                  input(type="radio" ng-model="search.institute"
                    name="institute" value="1")
                  span Columbia
                h6.text-muted MRN / Accession #
                label.radio-inline
                  input(type="radio" ng-model="search.type"
                    name="type" value="0")
                  span MRN
                label.radio-inline
                  input(type="radio" ng-model="search.type"
                    name="type" value="1")
                  span Accession #

