div(ng-include='"components/navbar/navbar.html"')

mixin infoItem(category)
  //- .item(class= (isRecommended ? "recommended" : "") ng-repeat="item in person.#{category}")
  .item(ng-repeat="item in person.#{category} | orderBy:'score':true"
    ng-class="item.isRecommended ? 'recommended' : ''")
    .actions
      .votes
        button.up-vote(ng-click='vote(item, 1)')
          span.glyphicon.glyphicon-ok(aria-label="Upvote"
            ng-class='item.voteStatus==1 ? "active" : ""')
        button.down-vote(ng-click='vote(item, -1)')
          span.glyphicon.glyphicon-remove(aria-label="Downvote"
            ng-class='item.voteStatus==-1 ? "active" : ""')
      //- .count(class= (isHighlight ? "highlight" : ""))= count
      .count(ng-class='item.isHighlight ? "highlight" : ""') {{item.score}}
    .flag(ng-show="item.isNew")
      | New!
    .detail {{item.value}}
  .empty-list(ng-show="!person.#{category}.length") No Data

mixin moreButtons()
  button.more(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") +
  ul.dropdown-menu(aria-labelledby="dLabel" role="menu")
    li
      a(href="#") Add a note 
      a(href="#") Add a number

.container
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | {{person.fullName}}
        .description
          | [description]
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-phone.scheme-red
            h4.title
              | Office Phone
              +moreButtons
            +infoItem("officePhone")
            .notes
              a.toggle(href="#") Show notes(1)
        .col-md-6.col-xs-12
          section.info-pager.scheme-blue
            h4.title
              | Mobile Phone
              +moreButtons
            +infoItem("mobilePhone")
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-email.scheme-green
            h4.title
              | Pager
              +moreButtons
            +infoItem('pagerNum')
        .col-md-6.col-xs-12
          section.info-fax.scheme-yellow
            h4.title
              | Email
              +moreButtons
            +infoItem('email')
      .contact-info.row
        .col-md-6.col-xs-12
          section.info-fax.scheme-mint
            h4.title
              | Fax
              +moreButtons
            +infoItem('faxNum')
        .col-md-6.col-xs-12
          section.info-address.scheme-gray
            h4.title
              | Address
            .item
              span.detail(ng-bind-html="person.addresses[0]")
            button.btn.btn-default Show all
      pre(ng-bind-html="content['hybridized_provider_output'] | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .list-group
        a.list-group-item.active(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role
        a.list-group-item(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role

footer.footer
  .container
    p
      | ZERO v0.0.1
      = ' | '
      | Weill Cornell Radiology

script.
  $(document).ready(function() {
    $('.notes').on('click', '.toggle', function() {
      alert(1)
    })
  })