div(ng-include='"components/navbar/navbar.html"')

mixin infoSection(category)
  .col-md-6.col-xs-12(class="zero-section-view-#{category}")
    section(ng-class="['scheme-' + scheme.#{category}, \
      viewStatus.targetSubView == '#{category}' ? 'focused' : '']")
      h4.title
        | {{displayNames.#{category}}}
        button.more(ng-click="viewStatus.changeToSubView('#{category}')") +
      div(info-items items="person.#{category}" type="'#{category}'")
      a.empty-list(href="#" ng-show="!person.#{category}.collection.length"
        ng-click="$event.preventDefault();viewStatus.changeToSubView('#{category}')")
        | No Data (click to add)
      .notes
        a.toggle(href="#"
          ng-click="$event.preventDefault();viewStatus.changeToSubView('#{category}')")
          | {{person.#{category}.note.length ? "Show" : "Add"}} notes

.home.container(ng-show="viewStatus.currentView == 'home'")
  h1 Welcome to ZERO!

.loading.container(ng-show="viewStatus.currentView === 'loading'")
  img(src="/assets/images/loading.gif" width="50px" height="50px"
    ng-show="!cssSupportAnimation")
  i.spinning-icon(ng-show="cssSupportAnimation")
  .text
    | Loading...

.loading-err.container(ng-show="viewStatus.currentView === 'loadingError'")
  h4 Something went wrong...
  p.text-muted
    | You may want to check the url,&nbsp;
    a(href="javascript:location.reload();") reload the page
    | , or use the search box to look up something else.


.container.main(ng-show="viewStatus.currentView == 'detail'")
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | {{person.fullName}}
          button.btn.btn-default.clipboard-button(clipboard-button
            text="clipboardText()" data-toggle="tooltip"
            data-placement="bottom"
            title="Send 'Discussed with' message to clipboard. \
            Paste by pressing CTRL-V when in reporting app.")
            span.glyphicon.glyphicon-copy
        //- .description
        //-   | [description]
      #main-info(ng-class="viewStatus.viewClass")
        .contact-info.lined.row
          +infoSection("officePhone")
          +infoSection("mobilePhone")
        .contact-info.lined.row
          +infoSection("pagerNum")
          +infoSection("email")
        .contact-info.row
          +infoSection("faxNum")
          .col-md-6.col-xs-12
            section.info-address.scheme-gray
              h4.title
                | Address
              .item(ng-show="person.addresses.length")
                span.detail(ng-bind-html="person.addresses[0]")
              .empty-list(ng-show="!person.addresses.length") No Data
              button.btn.btn-default(ng-show="person.addresses.length > 1"
                data-target="#all-addresses" data-toggle="modal") Show all
      #sub-info
        .contact-info.row
          .col-md-2
            button.back(ng-class="'scheme-' + scheme[viewStatus.targetSubView]"
              ng-click="viewStatus.changeToMainView()")
              span.glyphicon.glyphicon-chevron-left(aria-label="Back")
              br
              | Back
          .col-md-10
            section(ng-class="'scheme-' + scheme[viewStatus.targetSubView]")
              h4.title
                | {{displayNames[viewStatus.targetSubView]}}
              div(info-items items="person[viewStatus.targetSubView]"
                type="viewStatus.targetSubView" extended="true")
      //- pre(ng-bind-html="person | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .contact-list
        .list-item(ng-repeat="one in contacts"
          ng-class="one.active ? 'active' : ''" ng-click="viewContact(one)")
          .name
            b {{one.fullName}}
          //- .ordered
          //-   b Ordered this study
          .role {{one.role}}

footer.footer
  .container
    p
      | ZERO v0.0.1

//- Bootstrap Modal
#all-addresses.modal.fade(tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Addresses
      .modal-body
        ul
          li(ng-repeat="address in person.addresses" ng-bind-html="address")

mixin messageBox(id, hub, displayName)
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Send #{displayName}
      .modal-body
        .alert.alert-success(ng-show="#{hub}.success") Message successfully sent
        .alert.alert-danger(ng-show="#{hub}.failed") Unable to send message
        form(ng-submit="#{hub}.submit($event)")
          if block
            block
          .form-group(ng-class="{'has-error': \
            #{hub}.message.length > #{hub}.lengthLimit}")
            label(for="#{hub}-message") Message
            textarea.form-control(rows=3 id="#{hub}-message" autofocus
              placeholder="Enter the message" ng-model="#{hub}.message")
            p.help-block.pull-right(ng-show="#{hub}.lengthLimit")
              {{ #{hub}.lengthLimit - #{hub}.message.length }}
          button.btn.btn-default(type="submit") Send

#pager-box.modal.fade(role="dialog" aria-hidden="true")
  +messageBox('pager-box', 'pager', 'page')
    .form-group
      label(for="msg-number") Number
      input.form-control(type="text" name="number" id="msg-number" readonly
        autofocus)
#SMS-box.modal.fade(role="dialog" aria-hidden="true")
  +messageBox('SMS-box', 'SMS', 'SMS')
    .form-group
      label(for="msg-to-number") Send to
      input.form-control(type="text" name="toPhone" id="msg-to-number"
        readonly autofocus)

#notification-bar
  .message.alert
    span.content
    button.close(type="button" data-dismiss="modal" aria-label="Close")
      span(aria-hidden="true") &times;

  