div(ng-include='"components/navbar/navbar.html"')

mixin infoSection(category)
  .col-md-6.col-xs-12(class="zero-section-view-#{category}")
    section(ng-class="['scheme-' + scheme.#{category}, \
      viewStatus.targetSubView == '#{category}' ? 'focused' : '']")
      h4.title
        | {{dispalyNames.#{category}}}
        button.more(ng-click="viewStatus.changeToSubView('#{category}')") +
      div(info-items items="person.#{category}" type="'#{category}'")
      a.empty-list(href="#" ng-show="!person.#{category}.collection.length"
        ng-click="$event.preventDefault();viewStatus.changeToSubView('#{category}')")
        | No Data (click to add)
      .notes
        a.toggle(href="#"
          ng-click="$event.preventDefault();viewStatus.changeToSubView('#{category}')")
          | {{person.#{category}.note.length ? "Show" : "Add"}} notes

.home.container(ng-show="viewStatus.currentView == 'home'")
  h1 Welcome to ZERO!

.loading.container(ng-show="viewStatus.currentView === 'loading'")
  h4 Working hard to load data :P
  p.text-muted
    | If failed, you may want to check the url,&nbsp;
    a(href="javascript:location.reload();") reload the page
    | , or use the search box to look up something else.


.container.main(ng-show="viewStatus.currentView == 'detail'")
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | {{person.fullName}}
        //- .description
        //-   | [description]
      #main-info(ng-class="viewStatus.viewClass")
        .contact-info.lined.row
          +infoSection("officePhone")
          +infoSection("mobilePhone")
        .contact-info.lined.row
          +infoSection("pagerNum")
          +infoSection("email")
        .contact-info.row
          +infoSection("faxNum")
          .col-md-6.col-xs-12
            section.info-address.scheme-gray
              h4.title
                | Address
              .item(ng-show="person.addresses.length")
                span.detail(ng-bind-html="person.addresses[0]")
              .empty-list(ng-show="!person.addresses.length") No Data
              button.btn.btn-default(ng-show="person.addresses.length > 1"
                data-target="#all-addresses" data-toggle="modal") Show all
      #sub-info
        .contact-info.row
          .col-md-2
            button.back(ng-class="'scheme-' + scheme[viewStatus.targetSubView]"
              ng-click="viewStatus.changeToMainView()")
              span.glyphicon.glyphicon-chevron-left(aria-label="Back")
              br
              | Back
          .col-md-10
            section(ng-class="'scheme-' + scheme[viewStatus.targetSubView]")
              h4.title
                | {{dispalyNames[viewStatus.targetSubView]}}
              div(info-items items="person[viewStatus.targetSubView]"
                type="viewStatus.targetSubView" extended="true")
      //- pre(ng-bind-html="person | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .contact-list
        .list-item(ng-repeat="one in contacts"
          ng-class="one.active ? 'active' : ''" ng-click="viewContact(one)")
          .name
            b {{one.fullName}}
          //- .ordered
          //-   b Ordered this study
          .role {{one.role}}

footer.footer
  .container
    p
      | ZERO v0.0.1
      = ' | '
      | Weill Cornell Radiology

//- Bootstrap Modal
#all-addresses.modal.fade(tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Addresses
      .modal-body
        ul
          li(ng-repeat="address in person.addresses" ng-bind-html="address")

#pager-box.modal.fade(tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Send Page to {{person.fullName}}
      .modal-body
        .alert.alert-success(ng-show="pager.success") Message successfully sent
        .alert.alert-danger(ng-show="pager.failed") Unable to send page
        form(ng-submit="pager.submit()")
          .form-group
            label(for="pager-number") Number
            input.form-control(type="text" name="number" id="pager-number"
              readonly)
          .form-group(ng-class="pager.message.length > 240 ? 'has-error' : ''")
            label(for="pager-message") Message
            textarea.form-control(rows=3 id="pager-message"
              placeholder="Enter the message" ng-model="pager.message")
            p.help-block.pull-right
              {{ 240 - (pager.message.length || 0) }}
          button.btn.btn-default(type="submit") Send

#notification-bar
  .message.alert
    span.content
    button.close(type="button" data-dismiss="modal" aria-label="Close")
      span(aria-hidden="true") &times;

script.
  $(document).ready(function() {
    $('#pager-box').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var number = button.data('number')
      var modal = $(this)
      modal.find('input[name="number"]').val(number)
    })
  })
  