div(ng-include='"components/navbar/navbar.html"')

mixin infoSection(category)
  .col-md-6.col-xs-12(class="zero-section-view-#{category}")
    section(ng-class="['scheme-' + scheme.#{category}, \
      viewStatus.targetSubView == '#{category}' ? 'focused' : '']")
      h4.title
        | {{dispalyNames.#{category}}}
        button.more(ng-click="viewStatus.changeToSubView('#{category}')") +
      info-items(items="person.#{category}" vote-action="vote(item, value)")
      .notes
        a.toggle(href="#") Show notes(1)

.container
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | {{person.fullName}}
        .description
          | [description]
      #main-info(ng-class="viewStatus.viewClass")
        .contact-info.lined.row
          +infoSection("officePhone")
          +infoSection("mobilePhone")
        .contact-info.lined.row
          +infoSection("pagerNum")
          +infoSection("email")
        .contact-info.row
          +infoSection("faxNum")
          .col-md-6.col-xs-12
            section.info-address.scheme-gray
              h4.title
                | Address
              .item
                span.detail(ng-bind-html="person.addresses[0]")
              button.btn.btn-default Show all
      #sub-info
        .contact-info.row
          .col-md-2
            button.back(ng-class="'scheme-' + scheme[viewStatus.targetSubView]")
              span.glyphicon.glyphicon-chevron-left(aria-label="Back")
              br
              | Back
          .col-md-10
            section(ng-class="'scheme-' + scheme[viewStatus.targetSubView]")
              h4.title
                | {{dispalyNames[viewStatus.targetSubView]}}
      pre(ng-bind-html="content['hybridized_provider_output'] | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .list-group
        a.list-group-item.active(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role
        a.list-group-item(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role

footer.footer
  .container
    p
      | ZERO v0.0.1
      = ' | '
      | Weill Cornell Radiology

script.
  $(document).ready(function() {
    $('.notes').on('click', '.toggle', function() {
      alert(1)
    })
  })